/* WHAT WE OFFER */

#offer-section {
    margin: 12rem auto;
}

#offer-section .offer-container {
    text-align: center;
}

#offer-section .offer-container h2 {
    text-align: center;
    text-transform: capitalize;
    color: rgb(232, 232, 232);
    font-size: 2.5rem;
    font-weight: 500;
}

/* CARD SECTION */

#offer-section .offer-container .card-container {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(44, 17, 97);
    width: 100%;
    max-width: 823px;
    align-items: center;
    position: relative;
    top: 120px;
    border-right: 2px solid rgba(129, 242, 218, 0.76);
}

#offer-section .offer-container .card-container.second-card {
    margin-top: 20px;
}

#offer-section .offer-container .card-container .icon-bg {
    background-color: rgb(58, 26, 156);
    height: 300px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid rgb(224, 43, 117);
}

#offer-section .offer-container .card-container .icon-section {
    width: 3rem;
    position: absolute;
    left: 55px;
}

#offer-section .offer-container .card-container .data-section {
    position: relative;
    left: -2rem;
    display: grid;
    grid-template-columns: 1fr;
}

#offer-section .offer-container .card-container .icon-bg .icon-section img {
    border: 2px solid rgb(87, 40, 236);
    padding: 20px;
    border-radius: 50px;
    background-color: rgb(57, 25, 154);
}

#offer-section .offer-container .card-container .data-section h3 {
    color: rgb(232, 232, 232);
    text-transform: capitalize;
    font-size: 2rem;
    position: absolute;
}

#offer-section .offer-container .card-container .data-section p {
    color: rgb(232, 232, 232);
    position: relative;
    top: 4rem;
    text-align: justify;
}

#offer-section .offer-container .card-container .data-section .coa-container {
    display: flex;
}

#offer-section .offer-container .card-container .data-section .coa-container a {
    color: rgb(232, 232, 232);
    text-decoration: none;
    border: 1px solid rgb(117, 66, 213);
    padding: 12px 16px;
    border-radius: 40px;
    margin-top: 130px;
}

#offer-section .offer-container .card-container .data-section .coa-container a:hover {
    background-color: rgb(218, 67, 138)
}

/* LAPTOP */

@media only screen and (max-width: 1215px) {}

/* TABLET */

@media only screen and (max-width: 1023px) {}

@media only screen and (min-width: 767px) and (max-width: 1023px) {
    #image-section .title-container h1 {
        font-size: 8rem !important;
    }
}

/* SMALL MOBILE PORTRAIT */

@media only screen and (max-width: 767px) and (orientation: portrait) {
    #offer-section {
        margin: 17rem auto;
    }
    #offer-section .offer-container .card-container {
        width: 90%;
        border-radius: 8px;
    }
    #offer-section .offer-container .card-container .icon-bg {
        width: 60%;
        border-radius: 10px 0 0 10px;
    }
    #offer-section .offer-container .card-container .icon-section {
        width: 7%;
        position: relative;
        left: -1.8em;
    }
    #offer-section .offer-container .card-container .icon-bg .icon-section img {
        width: 4rem;
    }
    #offer-section .offer-container .card-container .data-section h3 {
        font-size: 1.2rem;
        text-align: start;
    }
    #offer-section .offer-container .card-container .data-section p {
        text-align: start;
    }
}

/* SMALL MOBILE LANDSCAPE */

@media only screen and (max-width: 768px) and (orientation: landscape) {
    #offer-section {
        margin: 16rem auto;
    }
    #offer-section .offer-container .card-container .data-section h3 {
        font-size: 1.5rem;
    }
}